$primary-background: #0f162d;
$primary-purpure: #ca59ff;
$primary-blue: #6c7cff;
$primary-ocean: #2affff;
$primary-yellow: #fff629;

$secondary-white: #ffffff;
$secondary-gray: #272d42;
$secondary-black: #000000;
