@media (max-width: 1279px) {
  body {
    margin-top: 247px;
  }

  #home-page {
    flex-direction: column;
    align-items: center;
  }

  .title-and-description {
    max-width: 496px;
    width: 496px;
    margin-bottom: 24px;
    justify-content: left;
    align-items: center;
    gap: 16px;

    &_title {
      max-width: 490px;
    }
  }

  .cards-container {
    margin-left: 0px;
    gap: 16px;
    &_row {
      gap: 16px;
    }
  }

  .card {
    border-radius: 20px;
    width: 240px;

    &_icon-background {
      width: 56px;
      height: 56px;
      border-radius: 14px;
      margin-top: 20px;
    }

    &_icon {
      width: 28px;
      height: 28px;
    }

    &_description {
      @include Body2($secondary-white);
      opacity: 0.5;
      margin: 16px 17px 20px 14px;
    }
  }
}

@media (max-width: 767px) {
  body {
    margin-top: 48px;
  }

  .title-and-description {
    max-width: 343px;

    &_title {
      @include Header2($secondary-white);
    }
  }

  .cards-container {
    &_row {
      flex-direction: column;
    }
  }

  .card {
    width: 343px;

    &_description {
      margin: 16px 20px 20px 20px;
    }
  }
}
